/* css Zen Garden default style v1.02 */

/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */

/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */

/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

/* basic elements */

/* ==========================================================================
	Imports
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,500');


/* ==========================================================================
	Sass Vars
   ========================================================================== */
$darkBaseColor: #6C918A;
$lightBaseColor: #EEEDEB;

$yyDiameter: 50vmin;
$yyScale: .66;
$yyTime: 2s;

$break-point: 768px;
$break-point-lg: 1279px;


/* ==========================================================================
	Keyframes
   ========================================================================== */
@keyframes yyScaleFrames { to { transform: scale(2 - $yyScale) } }

@keyframes yyLoadFrames {
	0% { transform: rotate(90deg); opacity: 0; }
	33% { opacity: 1; }
	50% { transform: rotate(450deg) }
	66% { opacity: 1; }
	100% { transform: rotate(810deg); opacity: 0; }
}

@keyframes yyInfiniteRotateFrames {
	0% { transform: translateY(0) rotate(120deg); }
	100% { transform: translateY(0) rotate(480deg); }
}
@keyframes yyInFrames { to { transform: scale(1); opacity: 1; } }

@keyframes fadeInFrames {to { opacity: 1 }; }

@keyframes scaleUpFrames {to { transform: scale(1) }; }

@keyframes slideUpFrames {to { transform: translateY(0) }; }

@keyframes borderShadowInFrames {to { box-shadow: 10px 20px 30px -4px darken($darkBaseColor, 10%); } }


/* ==========================================================================
	Mixins
   ========================================================================== */
@mixin fadeInScaleUp($speed, $delay, $speed2, $delay2, $ease: ease-out) {
	animation: fadeInFrames $speed $ease $delay normal forwards, 
			   scaleUpFrames $speed $ease $delay normal forwards;
}

@mixin fadeInSlideUp($speed, $delay, $speed2, $delay2, $ease: ease-out) {
	animation: fadeInFrames $speed $ease $delay normal forwards, 
			   slideUpFrames $speed $ease $delay normal forwards;
}

@mixin customHeader($title) {
	@include respond-to(mobile) {
		background-color: $lightBaseColor; 
		color: $darkBaseColor;
	}

	@include respond-to(monitor) {
		background-color: $darkBaseColor; 
		color: $lightBaseColor;
	}

	display: block;

	content: $title;
	margin: 25px 10%;
	padding: 10px 25px;	

	box-shadow: 2px 4px 6px 0px darken($darkBaseColor, 10%);
	text-align: center;
	font-size: 2.4rem;
	font-weight: 300;
}
/* Media Query Mixin
   ========================================================================== */
@mixin respond-to($media) {
	@if $media == mobile {
	  @media only screen and (max-width: $break-point) { @content; }
	}
	@else if $media == monitor {
	  @media only screen and (min-width: $break-point) { @content; }
	}
	@else if $media == lgMonitor {
		@media only screen and (min-width: $break-point-lg) { @content; }
	}
}

/* ==========================================================================
	Placeholder Selectors
   ========================================================================== */
%main-section {	
	@include respond-to(mobile) {background-color: $lightBaseColor; };
	@include respond-to(monitor) {background-color: $darkBaseColor; };

	margin-top: 25px;

	box-shadow: 10px 20px 25px 0px darken($darkBaseColor, 10%);
	
	h3 {
		@include respond-to(mobile) { 
			background-color: $darkBaseColor;
			color: $lightBaseColor;  
		};

		@include respond-to(monitor) { 
			background-color: $lightBaseColor;
			color: $darkBaseColor;  
		};

		align-self: center;

		margin: 25px 10%;
		padding: 10px 25px;

		text-align: center;
		box-shadow: 2px 4px 6px 0px darken($darkBaseColor, 10%);
	}
	
	p {
		@include respond-to(mobile) {color: $darkBaseColor; };
		@include respond-to(monitor) {color: $lightBaseColor; };
		
		align-self: center;

		padding: 10px 25px;

		text-align: center;

		&:last-child {
			margin-bottom: 25px;
		}
	}
}


/* ==========================================================================
	Yin Yang Extras (https://css-tricks.com/creating-yin-yang-loaders-web/)
   ========================================================================== */
/* Main Loading Element */
.extra1 {
	@include respond-to(mobile) {
		background: linear-gradient($darkBaseColor 50%, $lightBaseColor 0);
	}
	@include respond-to(monitor) {
		grid-row: 1 / 4;
		grid-column: 1 / 3;

		background: linear-gradient($lightBaseColor 50%, $darkBaseColor 0);
	}

	grid-row: 2 / 5;
	grid-column: 1 / 3;
	justify-self: center; 
	align-self: center; 
	
	display: flex;
	align-items: center;
	
	width: $yyDiameter;
	height: $yyDiameter;
	margin: auto;
	z-index: 100;

	border-radius: 50%;
	transform-origin: center center;
	animation: yyLoadFrames 7s ease-in-out 0s normal forwards;
	
	&::before,
	&::after {
		@include respond-to(mobile) {
			background: $darkBaseColor;
			border: solid $yyDiameter/6 $lightBaseColor;
		}
		@include respond-to(monitor) {
			background: $lightBaseColor;
			border: solid $yyDiameter/6 $darkBaseColor;
		}
		
		flex: 1;

		content: '';
		height: $yyDiameter/6;

		border-radius: 50%;
		transform-origin: 0 50%;
	}
	
	&::after {
		@include respond-to(mobile) {
			background: $lightBaseColor;
			border-color: $darkBaseColor;
		}
		@include respond-to(monitor) {
			background: $darkBaseColor;
			border-color: $lightBaseColor;
		}
		transform-origin: 100% 50%;
		animation-delay: -$yyTime;
	}
}

/* Infinite Loop Element */
.extra2 {
	@include respond-to(mobile) {
		background: linear-gradient($darkBaseColor 50%, $lightBaseColor 0);
	}
	@include respond-to(monitor) {
		background: linear-gradient($lightBaseColor 50%, $darkBaseColor 0);
	}

	z-index: 100;

	grid-row: 1 / 3;
	grid-column: 1 / 3;
	justify-self: center;
	align-self: center;

	display: flex;
	align-items: center;

	$size: 33px;
	width: $size;
	height: $size;
	margin-top: 12.5px; // half the dist of margin-bottom on h1

	border-radius: 50%;
	opacity: 0;
	transform-origin: center center;
	animation: yyInFrames 1000ms ease-out 8500ms normal forwards,
			   yyInfiniteRotateFrames 6s linear infinite 0s; 

	&::before,
	&::after {
		@include respond-to(mobile) {
			background: $darkBaseColor;
			border: solid $size/6 $lightBaseColor;
		}
		@include respond-to(monitor) {
			background: $lightBaseColor;
			border: solid $size/6 $darkBaseColor;
		}
		
		flex: 1;

		content: '';
		height: $size/6;

		border-radius: 50%;
		transform-origin: 0 50%;
		transform: scale($yyScale);
		animation: yyScaleFrames $yyTime ease-in-out infinite alternate;
	}
	&::after {
		@include respond-to(mobile) {
			background: $lightBaseColor;
			border-color: $darkBaseColor;
		}
		@include respond-to(monitor) {
			background: $darkBaseColor;
			border-color: $lightBaseColor;
		}
		transform-origin: 100% 50%;
		animation-delay: -$yyTime;
	}

}


/* ==========================================================================
	Main Elements
   ========================================================================== */
* {
	margin: 0;
	padding: 0;
}

html {
	@include respond-to(mobile) { font-size: 10px; };
	@include respond-to(monitor) { font-size: 10px; };
	@include respond-to(lgMonitor) { font-size: 12px; };

	height: 100%;
	margin: 0;
	padding: 0;
	
}

body {
	@include respond-to(mobile) {
		grid-template-rows: 200px 200px 200px 400px auto auto;
		grid-template-columns: 1fr 1fr;
	}

	@include respond-to(monitor) {
		grid-template-rows: 200px 200px 200px 400px auto auto;
		grid-template-columns: 1fr 1fr;
	}

	margin: 0;
	padding: 0;

	display: grid;

	background: $lightBaseColor;
	font-family: 'Yantramanav', sans-serif;
}

abbr {
	text-decoration: none;
}

a {
	text-decoration: none;
	font-weight: 500;
}

h1 {
	font-size: 3.6rem;
	font-weight: 300;
	letter-spacing: .1em;
}

h2 {
	font-size: 2.4rem;
	font-weight: 100;
}

h3 {
	font-size: 2.4rem;
	font-weight: 300;
}

p {
	font-size: 1.6em;
	font-weight: 100;
}

li {
	list-style-type: none;
	padding: 5px 8px;
	font-weight: 100;
	font-size: 1.4em;
}

/* ==========================================================================
	Classes / Id Selectors
   ========================================================================== */

/* Page-Wrapper
   ========================================================================== */
.page-wrapper {
	@include respond-to(mobile) {
		grid-template-rows: 500px 500px auto auto;
		grid-template-columns: 1fr 1fr;
		grid-row: 1 / 5;
	}
	@include respond-to(monitor) {
		grid-template-rows: 750px 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-row: 1 / 4;
	}
	
	grid-column: 1 / 3;

	display: grid;
}

/* Intro
   ========================================================================== */
.intro {
	@include respond-to(mobile) {
		grid-row: 1 / 3;
		grid-column: 1 / 3;
		
		grid-template-rows:  20% 40% 40%;
		grid-template-columns: 1fr;
		
		background-color: $darkBaseColor; 

		background: linear-gradient(to bottom, 
		$darkBaseColor 0%,
		$darkBaseColor 60%,
		$lightBaseColor 60%,
		$lightBaseColor 100%);

		&::after {
			grid-row: 3 / 4;
			grid-column: 1 / 3;

			content: " ";

			align-self: stretch;
			justify-self: stretch;
			
			z-index: 2;
			box-shadow: 10px 20px 30px -4px darken($darkBaseColor, 10%);
		}

	};
	@include respond-to(monitor) {
		grid-row: 1 / 2;
		grid-column: 1 / 3;
		grid-template-rows: 50% 50%;
		grid-template-columns: 1fr 1fr;
		background: linear-gradient(to right, 
			$lightBaseColor 0%,
			$lightBaseColor 50%,
			$darkBaseColor 50%,
			$darkBaseColor 100%);

			z-index: 1;
			box-shadow: none;
			box-shadow: 10px 20px 30px -4px darken($darkBaseColor, 10%);

			&::after {
				grid-row: 1 / 3;
				grid-column: 1 / 2;

				content: " ";
				z-index: 2;
		
				align-self: stretch;
				justify-self: stretch;
				box-shadow: 10px 20px 30px -4px darken($darkBaseColor, 10%);
			}
	};

	display: grid;

	animation: introInFrames 2s ease-out 4s normal forwards;
	
	/* HEADER */
	header {
		@include respond-to(mobile) {
			grid-row: 1 / 2;
			grid-column: 1 / 3;
			
		}

		@include respond-to(monitor) {
			grid-row: 1 / 2;
			grid-column: 1 / 3;

			color: $darkBaseColor;

			background: linear-gradient(to right, 
				$lightBaseColor 0%,
				$lightBaseColor 50%,
				$darkBaseColor 50%,
				$darkBaseColor 100%);
		}

		position: relative;
		z-index: 0;

		height: 100%;

		text-align: center;	

		h1 {
			@include respond-to(mobile) {
				color: $lightBaseColor;
			}

			@include respond-to(monitor) {
				z-index: 3;

				background: linear-gradient(to right,
				$darkBaseColor 0%,
				$darkBaseColor 50%,
				$lightBaseColor 50%,
				$lightBaseColor 100%);
				
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			z-index: 3;
			
			margin: 25px 0;
			
			opacity: 0;
			@include fadeInSlideUp(1000ms, 7000ms, 500ms, 7000ms);

		}
		h2 {
			@include respond-to(mobile) {
				color: $lightBaseColor;
			}
			
			@include respond-to(monitor) {
				z-index: 3; 

				background: linear-gradient(to right,
				$darkBaseColor 0%,
				$darkBaseColor 50%,
				$lightBaseColor 50%,
				$lightBaseColor 100%);

				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;					
			}

			opacity: 0;
			@include fadeInSlideUp(1000ms, 7333ms, 500ms, 7333ms);
			
			&::after {
				z-index: 3;

				display: block;
				content: "With Balance"; 
			}
		}
	}
	
	/* Summary */
	.summary {
		@include respond-to(mobile) {
			width: 300px;
			height: 300px;

			grid-row: 2 / 3;
			grid-column: 1 / 2;

			background-color: $lightBaseColor; 
		}

		@include respond-to(monitor) {
			width: 300px;
			height: 300px;

			grid-row: 1 / 3;
			grid-column: 1 / 2;

			background-color: $darkBaseColor; 

		}

		@include respond-to(lgMonitor) {
			width: 400px;
			height: 400px;
		}

		z-index: 3;
		justify-self: center;
		align-self: center;

		display: flex;
		flex-direction: column;
		justify-content: center;

		border-radius: 50%;
		box-shadow: inset 10px 20px 40px -3px darken($darkBaseColor, 10%); 
		opacity: 0;
		transform: scale(0.66);
		@include fadeInScaleUp(1000ms, 8500ms, 500ms, 8500ms);

		p {
			@include respond-to(mobile) {color: $darkBaseColor; };
			@include respond-to(monitor) {color: $lightBaseColor; };
			
			align-self: center;

			width: 150px;

			text-align: center;

			&:first-child {
				margin-bottom: 50px;
			}

			a {
				@include respond-to(mobile) {color: $darkBaseColor; };
				@include respond-to(monitor) {color: $lightBaseColor; };
			}
		}
	}

	/* Preamble */
	.preamble {
		@include respond-to(mobile) {
			grid-row: 3 / 4;
			grid-column: 1 / 2;

			width: 300px;
			height: 300px;

			background-color: $darkBaseColor; 
		};

		@include respond-to(monitor) {
			grid-row: 1 / 3;
			grid-column: 2 / 3;

			width: 300px;
			height: 300px;

			background-color: $lightBaseColor; 
		};

		@include respond-to(lgMonitor) {
			width: 400px;
			height: 400px;
		};

		z-index: 3;
		justify-self: center;
		align-self: center;

		display: flex;
		flex-direction: column;
		justify-content: start;

		overflow-x: scroll;
		box-shadow: 10px 20px 40px 2px darken($darkBaseColor, 10%);
		border-radius: 50%;
		opacity: 0;
		transform: scale(0.66);
		@include fadeInScaleUp(1000ms, 8500ms, 500ms, 8500ms);
		
		h3 {
			@include respond-to(mobile) {color: $lightBaseColor; };
			@include respond-to(monitor) {color: $darkBaseColor; };
			
			align-self: center;

			width: 150px;
			padding-top: 100px;
			padding-bottom: 50px;
			
			text-align: center;
			text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.9);
		}

		p {
			@include respond-to(mobile) {color: $lightBaseColor; };
			@include respond-to(monitor) {color: $darkBaseColor; };
			
			align-self: center;

			width: 150px;
		
			text-align: center;
			padding-bottom: 25px;
		}
	}
}

/* Main Content 
   ========================================================================== */
.main {
	@include respond-to(mobile) {
		grid-row: 3 / 4;
		grid-column: 1 / 3; 

		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;

		background-color: $darkBaseColor;
	};
	@include respond-to(monitor) {
		grid-row: 2 / 3;
		grid-column: 1 / 3;

		display: grid;
		grid-template-rows: 45% 45% 10%;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 25px;

		background-color: $lightBaseColor; 
	};
	z-index: 0;

	padding: 50px 25px 25px 25px;
	
	opacity: 0;
	@include fadeInSlideUp(1000ms, 7000ms, 500ms, 7000ms);

	a {
		@include respond-to(mobile) {color: $darkBaseColor; }; 
		@include respond-to(monitor) {color: $lightBaseColor; }; 
	}

	.explanation {
		@extend %main-section;
		@include respond-to(mobile) {
			margin-top: 0;
		}
	}

	.participation, 
	.benefits, 
	.requirements {
		@extend %main-section;
	}

	footer {
		@include respond-to(monitor) {
			grid-row: 3 / 4;
			grid-column: 1 / 3;
		}

		width: 100%;
		height: 50px;
		margin-top: 25px;

		display: flex;
		flex-direction: row;
		align-items: center;


		a {
			@include respond-to(mobile) {color: $lightBaseColor; };
			@include respond-to(monitor) {color: $darkBaseColor; };
			
			flex-grow: 1;
			
			text-align: center;
			font-size: 1.8rem;
		}
	}
}

/* Sidebar
   ========================================================================== */
.sidebar {
	@include respond-to(mobile) {
		grid-row: 4 / 5;
		grid-column: 1 / 3;
	}

	@include respond-to(monitor) {
		grid-row: 3 / 4;
		grid-column: 1  / 3;
	}
	
	opacity: 0;
	@include fadeInSlideUp(1000ms, 7000ms, 500ms, 7000ms);
	
	.wrapper {
		@include respond-to(mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;

			background-color: $lightBaseColor; 
		};
		@include respond-to(monitor) {
			display: grid;
			grid-template-rows: 80% 20%; 
			grid-template-columns: 1fr 1fr; 
			grid-column-gap: 25px;

			background-color: $darkBaseColor;
		};

		padding: 25px;

		.design-selection {
			@include respond-to(mobile) {background-color: $darkBaseColor; };
			@include respond-to(monitor) {
				background-color: $lightBaseColor; 
				grid-row: 1 / 2;
				grid-column: 1 / 2;
			};

			width: 100%;
			margin-bottom: -1px;
			
			box-shadow: 10px 20px 25px 0px darken($darkBaseColor, 10%);
			
			h3 {
				display: none;
			}

			nav {
				display: flex;
				flex-direction: column;

				li {
					@include respond-to(mobile) {color: $lightBaseColor; };
					@include respond-to(monitor) {color: $darkBaseColor; };
					
					margin: 0 10%;
					padding: 5px 25px;
					a {
						@include respond-to(mobile) {color: $lightBaseColor; };
						@include respond-to(monitor) {color: $darkBaseColor; };
					}

					&::before { content: "☯"; }
				}

				&::before { @include customHeader("The Design Archives"); }
			}
		}

		.design-archives {
			@include respond-to(mobile) {
				margin-bottom: 25px;
				background-color: $darkBaseColor; 
			};
			@include respond-to(monitor) {
				grid-row: 2 / 3;
				grid-column: 1 / 2;
				background-color: $lightBaseColor;
			};

			width: 100%;

			box-shadow: 10px 13px 25px -5px darken($darkBaseColor, 10%);

			h3 {
				display: none;
			}
			
			ul {
				margin: 0 10%;
				margin-bottom: 25px;
				padding: 10px 25px;

				display: flex;
				
				li {
					@include respond-to(mobile) {background-color: $lightBaseColor; };
					@include respond-to(monitor) {background-color: $darkBaseColor; };

					a {
						@include respond-to(mobile) {color: $darkBaseColor; };
						@include respond-to(monitor) {color: $lightBaseColor; };
					}

					&:first-child {
						order: 2;
					}
				}
			}
		}

		.zen-resources {
			@include respond-to(mobile) {background-color: $darkBaseColor; };
			@include respond-to(monitor) {
				grid-row: 1 / 3;
				grid-column: 2 / 3;
				background-color: $lightBaseColor; 
			};
			
			width: 100%;
			
			box-shadow: 10px 20px 25px 0px darken($darkBaseColor, 10%);
			
			h3 {
				display: none;
			}

			ul {
				margin: 0 10%;
				margin-bottom: 25px;
				padding: 10px 25px;

				display: flex;
				flex-direction: column;

				li {
					a {
						@include respond-to(mobile) {color: $lightBaseColor; };
						@include respond-to(monitor) {color: $darkBaseColor; };
					}

					&::before {
						@include respond-to(mobile) {color: $lightBaseColor; };
						@include respond-to(monitor) {color: $darkBaseColor; };
						content: "☯";
					}
				}
			}
			
			&::before { @include customHeader("Resources"); }
		}
	}
}

/* Misc
   ========================================================================== */

.extra4, .extra5, .extra6 {
	display: none;
}

/* remove scrollbar space; make invisible */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
