@charset "UTF-8";
/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */
/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */
/* basic elements */
/* ==========================================================================
	Imports
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Yantramanav:100,300,500");
/* ==========================================================================
	Sass Vars
   ========================================================================== */
/* ==========================================================================
	Keyframes
   ========================================================================== */
@keyframes yyScaleFrames {
  to {
    transform: scale(1.34); } }
@keyframes yyLoadFrames {
  0% {
    transform: rotate(90deg);
    opacity: 0; }
  33% {
    opacity: 1; }
  50% {
    transform: rotate(450deg); }
  66% {
    opacity: 1; }
  100% {
    transform: rotate(810deg);
    opacity: 0; } }
@keyframes yyInfiniteRotateFrames {
  0% {
    transform: translateY(0) rotate(120deg); }
  100% {
    transform: translateY(0) rotate(480deg); } }
@keyframes yyInFrames {
  to {
    transform: scale(1);
    opacity: 1; } }
@keyframes fadeInFrames {
  to {
    opacity: 1; } }
@keyframes scaleUpFrames {
  to {
    transform: scale(1); } }
@keyframes slideUpFrames {
  to {
    transform: translateY(0); } }
@keyframes borderShadowInFrames {
  to {
    box-shadow: 10px 20px 30px -4px #56746e; } }
/* ==========================================================================
	Mixins
   ========================================================================== */
/* Media Query Mixin
   ========================================================================== */
/* ==========================================================================
	Placeholder Selectors
   ========================================================================== */
.main .explanation, .main .participation,
.main .benefits,
.main .requirements {
  margin-top: 25px;
  box-shadow: 10px 20px 25px 0px #56746e; }
  @media only screen and (max-width: 768px) {
    .main .explanation, .main .participation,
    .main .benefits,
    .main .requirements {
      background-color: #EEEDEB; } }
  @media only screen and (min-width: 768px) {
    .main .explanation, .main .participation,
    .main .benefits,
    .main .requirements {
      background-color: #6C918A; } }
  .main .explanation h3, .main .participation h3,
  .main .benefits h3,
  .main .requirements h3 {
    align-self: center;
    margin: 25px 10%;
    padding: 10px 25px;
    text-align: center;
    box-shadow: 2px 4px 6px 0px #56746e; }
    @media only screen and (max-width: 768px) {
      .main .explanation h3, .main .participation h3,
      .main .benefits h3,
      .main .requirements h3 {
        background-color: #6C918A;
        color: #EEEDEB; } }
    @media only screen and (min-width: 768px) {
      .main .explanation h3, .main .participation h3,
      .main .benefits h3,
      .main .requirements h3 {
        background-color: #EEEDEB;
        color: #6C918A; } }
  .main .explanation p, .main .participation p,
  .main .benefits p,
  .main .requirements p {
    align-self: center;
    padding: 10px 25px;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .main .explanation p, .main .participation p,
      .main .benefits p,
      .main .requirements p {
        color: #6C918A; } }
    @media only screen and (min-width: 768px) {
      .main .explanation p, .main .participation p,
      .main .benefits p,
      .main .requirements p {
        color: #EEEDEB; } }
    .main .explanation p:last-child, .main .participation p:last-child,
    .main .benefits p:last-child,
    .main .requirements p:last-child {
      margin-bottom: 25px; }

/* ==========================================================================
	Yin Yang Extras (https://css-tricks.com/creating-yin-yang-loaders-web/)
   ========================================================================== */
/* Main Loading Element */
.extra1 {
  grid-row: 2 / 5;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  width: 50vmin;
  height: 50vmin;
  margin: auto;
  z-index: 100;
  border-radius: 50%;
  transform-origin: center center;
  animation: yyLoadFrames 7s ease-in-out 0s normal forwards; }
  @media only screen and (max-width: 768px) {
    .extra1 {
      background: linear-gradient(#6C918A 50%, #EEEDEB 0); } }
  @media only screen and (min-width: 768px) {
    .extra1 {
      grid-row: 1 / 4;
      grid-column: 1 / 3;
      background: linear-gradient(#EEEDEB 50%, #6C918A 0); } }
  .extra1::before, .extra1::after {
    flex: 1;
    content: '';
    height: 8.3333333333vmin;
    border-radius: 50%;
    transform-origin: 0 50%; }
    @media only screen and (max-width: 768px) {
      .extra1::before, .extra1::after {
        background: #6C918A;
        border: solid 8.3333333333vmin #EEEDEB; } }
    @media only screen and (min-width: 768px) {
      .extra1::before, .extra1::after {
        background: #EEEDEB;
        border: solid 8.3333333333vmin #6C918A; } }
  .extra1::after {
    transform-origin: 100% 50%;
    animation-delay: -2s; }
    @media only screen and (max-width: 768px) {
      .extra1::after {
        background: #EEEDEB;
        border-color: #6C918A; } }
    @media only screen and (min-width: 768px) {
      .extra1::after {
        background: #6C918A;
        border-color: #EEEDEB; } }

/* Infinite Loop Element */
.extra2 {
  z-index: 100;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  width: 33px;
  height: 33px;
  margin-top: 12.5px;
  border-radius: 50%;
  opacity: 0;
  transform-origin: center center;
  animation: yyInFrames 1000ms ease-out 8500ms normal forwards, yyInfiniteRotateFrames 6s linear infinite 0s; }
  @media only screen and (max-width: 768px) {
    .extra2 {
      background: linear-gradient(#6C918A 50%, #EEEDEB 0); } }
  @media only screen and (min-width: 768px) {
    .extra2 {
      background: linear-gradient(#EEEDEB 50%, #6C918A 0); } }
  .extra2::before, .extra2::after {
    flex: 1;
    content: '';
    height: 5.5px;
    border-radius: 50%;
    transform-origin: 0 50%;
    transform: scale(0.66);
    animation: yyScaleFrames 2s ease-in-out infinite alternate; }
    @media only screen and (max-width: 768px) {
      .extra2::before, .extra2::after {
        background: #6C918A;
        border: solid 5.5px #EEEDEB; } }
    @media only screen and (min-width: 768px) {
      .extra2::before, .extra2::after {
        background: #EEEDEB;
        border: solid 5.5px #6C918A; } }
  .extra2::after {
    transform-origin: 100% 50%;
    animation-delay: -2s; }
    @media only screen and (max-width: 768px) {
      .extra2::after {
        background: #EEEDEB;
        border-color: #6C918A; } }
    @media only screen and (min-width: 768px) {
      .extra2::after {
        background: #6C918A;
        border-color: #EEEDEB; } }

/* ==========================================================================
	Main Elements
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 10px; } }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 10px; } }
  @media only screen and (min-width: 1279px) {
    html {
      font-size: 12px; } }

body {
  margin: 0;
  padding: 0;
  display: grid;
  background: #EEEDEB;
  font-family: 'Yantramanav', sans-serif; }
  @media only screen and (max-width: 768px) {
    body {
      grid-template-rows: 200px 200px 200px 400px auto auto;
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (min-width: 768px) {
    body {
      grid-template-rows: 200px 200px 200px 400px auto auto;
      grid-template-columns: 1fr 1fr; } }

abbr {
  text-decoration: none; }

a {
  text-decoration: none;
  font-weight: 500; }

h1 {
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: .1em; }

h2 {
  font-size: 2.4rem;
  font-weight: 100; }

h3 {
  font-size: 2.4rem;
  font-weight: 300; }

p {
  font-size: 1.6em;
  font-weight: 100; }

li {
  list-style-type: none;
  padding: 5px 8px;
  font-weight: 100;
  font-size: 1.4em; }

/* ==========================================================================
	Classes / Id Selectors
   ========================================================================== */
/* Page-Wrapper
   ========================================================================== */
.page-wrapper {
  grid-column: 1 / 3;
  display: grid; }
  @media only screen and (max-width: 768px) {
    .page-wrapper {
      grid-template-rows: 500px 500px auto auto;
      grid-template-columns: 1fr 1fr;
      grid-row: 1 / 5; } }
  @media only screen and (min-width: 768px) {
    .page-wrapper {
      grid-template-rows: 750px 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-row: 1 / 4; } }

/* Intro
   ========================================================================== */
.intro {
  display: grid;
  animation: introInFrames 2s ease-out 4s normal forwards;
  /* HEADER */
  /* Summary */
  /* Preamble */ }
  @media only screen and (max-width: 768px) {
    .intro {
      grid-row: 1 / 3;
      grid-column: 1 / 3;
      grid-template-rows: 20% 40% 40%;
      grid-template-columns: 1fr;
      background-color: #6C918A;
      background: linear-gradient(to bottom, #6C918A 0%, #6C918A 60%, #EEEDEB 60%, #EEEDEB 100%); }
      .intro::after {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        content: " ";
        align-self: stretch;
        justify-self: stretch;
        z-index: 2;
        box-shadow: 10px 20px 30px -4px #56746e; } }
  @media only screen and (min-width: 768px) {
    .intro {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      grid-template-rows: 50% 50%;
      grid-template-columns: 1fr 1fr;
      background: linear-gradient(to right, #EEEDEB 0%, #EEEDEB 50%, #6C918A 50%, #6C918A 100%);
      z-index: 1;
      box-shadow: none;
      box-shadow: 10px 20px 30px -4px #56746e; }
      .intro::after {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        content: " ";
        z-index: 2;
        align-self: stretch;
        justify-self: stretch;
        box-shadow: 10px 20px 30px -4px #56746e; } }
  .intro header {
    position: relative;
    z-index: 0;
    height: 100%;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .intro header {
        grid-row: 1 / 2;
        grid-column: 1 / 3; } }
    @media only screen and (min-width: 768px) {
      .intro header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        color: #6C918A;
        background: linear-gradient(to right, #EEEDEB 0%, #EEEDEB 50%, #6C918A 50%, #6C918A 100%); } }
    .intro header h1 {
      z-index: 3;
      margin: 25px 0;
      opacity: 0;
      animation: fadeInFrames 1000ms ease-out 7000ms normal forwards, slideUpFrames 1000ms ease-out 7000ms normal forwards; }
      @media only screen and (max-width: 768px) {
        .intro header h1 {
          color: #EEEDEB; } }
      @media only screen and (min-width: 768px) {
        .intro header h1 {
          z-index: 3;
          background: linear-gradient(to right, #6C918A 0%, #6C918A 50%, #EEEDEB 50%, #EEEDEB 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; } }
    .intro header h2 {
      opacity: 0;
      animation: fadeInFrames 1000ms ease-out 7333ms normal forwards, slideUpFrames 1000ms ease-out 7333ms normal forwards; }
      @media only screen and (max-width: 768px) {
        .intro header h2 {
          color: #EEEDEB; } }
      @media only screen and (min-width: 768px) {
        .intro header h2 {
          z-index: 3;
          background: linear-gradient(to right, #6C918A 0%, #6C918A 50%, #EEEDEB 50%, #EEEDEB 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; } }
      .intro header h2::after {
        z-index: 3;
        display: block;
        content: "With Balance"; }
  .intro .summary {
    z-index: 3;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 10px 20px 40px -3px #56746e;
    opacity: 0;
    transform: scale(0.66);
    animation: fadeInFrames 1000ms ease-out 8500ms normal forwards, scaleUpFrames 1000ms ease-out 8500ms normal forwards; }
    @media only screen and (max-width: 768px) {
      .intro .summary {
        width: 300px;
        height: 300px;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        background-color: #EEEDEB; } }
    @media only screen and (min-width: 768px) {
      .intro .summary {
        width: 300px;
        height: 300px;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        background-color: #6C918A; } }
    @media only screen and (min-width: 1279px) {
      .intro .summary {
        width: 400px;
        height: 400px; } }
    .intro .summary p {
      align-self: center;
      width: 150px;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        .intro .summary p {
          color: #6C918A; } }
      @media only screen and (min-width: 768px) {
        .intro .summary p {
          color: #EEEDEB; } }
      .intro .summary p:first-child {
        margin-bottom: 50px; }
      @media only screen and (max-width: 768px) {
        .intro .summary p a {
          color: #6C918A; } }
      @media only screen and (min-width: 768px) {
        .intro .summary p a {
          color: #EEEDEB; } }
  .intro .preamble {
    z-index: 3;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-x: scroll;
    box-shadow: 10px 20px 40px 2px #56746e;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.66);
    animation: fadeInFrames 1000ms ease-out 8500ms normal forwards, scaleUpFrames 1000ms ease-out 8500ms normal forwards; }
    @media only screen and (max-width: 768px) {
      .intro .preamble {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        width: 300px;
        height: 300px;
        background-color: #6C918A; } }
    @media only screen and (min-width: 768px) {
      .intro .preamble {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        width: 300px;
        height: 300px;
        background-color: #EEEDEB; } }
    @media only screen and (min-width: 1279px) {
      .intro .preamble {
        width: 400px;
        height: 400px; } }
    .intro .preamble h3 {
      align-self: center;
      width: 150px;
      padding-top: 100px;
      padding-bottom: 50px;
      text-align: center;
      text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.9); }
      @media only screen and (max-width: 768px) {
        .intro .preamble h3 {
          color: #EEEDEB; } }
      @media only screen and (min-width: 768px) {
        .intro .preamble h3 {
          color: #6C918A; } }
    .intro .preamble p {
      align-self: center;
      width: 150px;
      text-align: center;
      padding-bottom: 25px; }
      @media only screen and (max-width: 768px) {
        .intro .preamble p {
          color: #EEEDEB; } }
      @media only screen and (min-width: 768px) {
        .intro .preamble p {
          color: #6C918A; } }

/* Main Content 
   ========================================================================== */
.main {
  z-index: 0;
  padding: 50px 25px 25px 25px;
  opacity: 0;
  animation: fadeInFrames 1000ms ease-out 7000ms normal forwards, slideUpFrames 1000ms ease-out 7000ms normal forwards; }
  @media only screen and (max-width: 768px) {
    .main {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      background-color: #6C918A; } }
  @media only screen and (min-width: 768px) {
    .main {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      display: grid;
      grid-template-rows: 45% 45% 10%;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
      background-color: #EEEDEB; } }
  @media only screen and (max-width: 768px) {
    .main a {
      color: #6C918A; } }
  @media only screen and (min-width: 768px) {
    .main a {
      color: #EEEDEB; } }
  @media only screen and (max-width: 768px) {
    .main .explanation {
      margin-top: 0; } }
  .main footer {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .main footer {
        grid-row: 3 / 4;
        grid-column: 1 / 3; } }
    .main footer a {
      flex-grow: 1;
      text-align: center;
      font-size: 1.8rem; }
      @media only screen and (max-width: 768px) {
        .main footer a {
          color: #EEEDEB; } }
      @media only screen and (min-width: 768px) {
        .main footer a {
          color: #6C918A; } }

/* Sidebar
   ========================================================================== */
.sidebar {
  opacity: 0;
  animation: fadeInFrames 1000ms ease-out 7000ms normal forwards, slideUpFrames 1000ms ease-out 7000ms normal forwards; }
  @media only screen and (max-width: 768px) {
    .sidebar {
      grid-row: 4 / 5;
      grid-column: 1 / 3; } }
  @media only screen and (min-width: 768px) {
    .sidebar {
      grid-row: 3 / 4;
      grid-column: 1  / 3; } }
  .sidebar .wrapper {
    padding: 25px; }
    @media only screen and (max-width: 768px) {
      .sidebar .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: #EEEDEB; } }
    @media only screen and (min-width: 768px) {
      .sidebar .wrapper {
        display: grid;
        grid-template-rows: 80% 20%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
        background-color: #6C918A; } }
    .sidebar .wrapper .design-selection {
      width: 100%;
      margin-bottom: -1px;
      box-shadow: 10px 20px 25px 0px #56746e; }
      @media only screen and (max-width: 768px) {
        .sidebar .wrapper .design-selection {
          background-color: #6C918A; } }
      @media only screen and (min-width: 768px) {
        .sidebar .wrapper .design-selection {
          background-color: #EEEDEB;
          grid-row: 1 / 2;
          grid-column: 1 / 2; } }
      .sidebar .wrapper .design-selection h3 {
        display: none; }
      .sidebar .wrapper .design-selection nav {
        display: flex;
        flex-direction: column; }
        .sidebar .wrapper .design-selection nav li {
          margin: 0 10%;
          padding: 5px 25px; }
          @media only screen and (max-width: 768px) {
            .sidebar .wrapper .design-selection nav li {
              color: #EEEDEB; } }
          @media only screen and (min-width: 768px) {
            .sidebar .wrapper .design-selection nav li {
              color: #6C918A; } }
          @media only screen and (max-width: 768px) {
            .sidebar .wrapper .design-selection nav li a {
              color: #EEEDEB; } }
          @media only screen and (min-width: 768px) {
            .sidebar .wrapper .design-selection nav li a {
              color: #6C918A; } }
          .sidebar .wrapper .design-selection nav li::before {
            content: "☯"; }
        .sidebar .wrapper .design-selection nav::before {
          display: block;
          content: "The Design Archives";
          margin: 25px 10%;
          padding: 10px 25px;
          box-shadow: 2px 4px 6px 0px #56746e;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 300; }
          @media only screen and (max-width: 768px) {
            .sidebar .wrapper .design-selection nav::before {
              background-color: #EEEDEB;
              color: #6C918A; } }
          @media only screen and (min-width: 768px) {
            .sidebar .wrapper .design-selection nav::before {
              background-color: #6C918A;
              color: #EEEDEB; } }
    .sidebar .wrapper .design-archives {
      width: 100%;
      box-shadow: 10px 13px 25px -5px #56746e; }
      @media only screen and (max-width: 768px) {
        .sidebar .wrapper .design-archives {
          margin-bottom: 25px;
          background-color: #6C918A; } }
      @media only screen and (min-width: 768px) {
        .sidebar .wrapper .design-archives {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          background-color: #EEEDEB; } }
      .sidebar .wrapper .design-archives h3 {
        display: none; }
      .sidebar .wrapper .design-archives ul {
        margin: 0 10%;
        margin-bottom: 25px;
        padding: 10px 25px;
        display: flex; }
        @media only screen and (max-width: 768px) {
          .sidebar .wrapper .design-archives ul li {
            background-color: #EEEDEB; } }
        @media only screen and (min-width: 768px) {
          .sidebar .wrapper .design-archives ul li {
            background-color: #6C918A; } }
        @media only screen and (max-width: 768px) {
          .sidebar .wrapper .design-archives ul li a {
            color: #6C918A; } }
        @media only screen and (min-width: 768px) {
          .sidebar .wrapper .design-archives ul li a {
            color: #EEEDEB; } }
        .sidebar .wrapper .design-archives ul li:first-child {
          order: 2; }
    .sidebar .wrapper .zen-resources {
      width: 100%;
      box-shadow: 10px 20px 25px 0px #56746e; }
      @media only screen and (max-width: 768px) {
        .sidebar .wrapper .zen-resources {
          background-color: #6C918A; } }
      @media only screen and (min-width: 768px) {
        .sidebar .wrapper .zen-resources {
          grid-row: 1 / 3;
          grid-column: 2 / 3;
          background-color: #EEEDEB; } }
      .sidebar .wrapper .zen-resources h3 {
        display: none; }
      .sidebar .wrapper .zen-resources ul {
        margin: 0 10%;
        margin-bottom: 25px;
        padding: 10px 25px;
        display: flex;
        flex-direction: column; }
        @media only screen and (max-width: 768px) {
          .sidebar .wrapper .zen-resources ul li a {
            color: #EEEDEB; } }
        @media only screen and (min-width: 768px) {
          .sidebar .wrapper .zen-resources ul li a {
            color: #6C918A; } }
        .sidebar .wrapper .zen-resources ul li::before {
          content: "☯"; }
          @media only screen and (max-width: 768px) {
            .sidebar .wrapper .zen-resources ul li::before {
              color: #EEEDEB; } }
          @media only screen and (min-width: 768px) {
            .sidebar .wrapper .zen-resources ul li::before {
              color: #6C918A; } }
      .sidebar .wrapper .zen-resources::before {
        display: block;
        content: "Resources";
        margin: 25px 10%;
        padding: 10px 25px;
        box-shadow: 2px 4px 6px 0px #56746e;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 300; }
        @media only screen and (max-width: 768px) {
          .sidebar .wrapper .zen-resources::before {
            background-color: #EEEDEB;
            color: #6C918A; } }
        @media only screen and (min-width: 768px) {
          .sidebar .wrapper .zen-resources::before {
            background-color: #6C918A;
            color: #EEEDEB; } }

/* Misc
   ========================================================================== */
.extra4, .extra5, .extra6 {
  display: none; }

/* remove scrollbar space; make invisible */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

/*# sourceMappingURL=style.css.map */
